<h1>Add a New Trail</h1>
<form action="/add_trail" method="POST">
    Trail Name: <input type="text" name="Name" placeholder="Trail Name"><br><br>
    Description: <br><textarea name="Description" rows="7" cols="30" placeholder="Trail Description"></textarea><br><br>
    Trail Length: <input type="number" step="any" name="Length"><br><br>
    Elevation: <input type="number" name="Elevation"><br><br>
    Longitude: <input type="number" step="any" name="Longitude"><br><br>
    Latitude: <input type="number" step="any" name="Latitude"><br><br>
    <input type="submit" value="Create trail">
</form>
<hr>
<a href="/">Home</a>